{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="موقع لحساب اوقات قيمة زكاة المال و التوقيت المستحق فيه دفعها">
        <title>موقع زكاتي-الصفحة الرئيسية</title>
	    <!--<link rel="stylesheet" href="../static/zakah1/css/main.css"/>-->
        <link rel="stylesheet" href="{%static 'zakah1/css/main_out.css'%}"/>
    </head>
    <body>
        <header id="top">
            <details>
                <summary>
                    <h3>هل لديك حساب بالفعل؟</h3>
                    <h4>اضغط لتسجيل الدخول</h4>
                </summary>
                <form method="post" action="{%url 'signin'%}" autocomplete="off" name="signin" target="_self">
                    {% csrf_token %}
                    <input type="text" required placeholder="اسم المستخدم" name="user_name">
                    <input type="password" required placeholder="كلمة المرور" name="pass_word">
                    <input type="submit" value="تسجيل الدخول">
                </form>
            </details>
            <article>
                <h1>احسب زكاة مالك بدقة و سهولة</h1>
                <p id="msg_area">{{mess}}</p>
            </article>

        </header>
        <main>
            <section id="step1">
                <p><span>اولا: </span>دخل بياناتك</p>
                <form method="post" action="{%url 'main'%}" autocomplete="off" id='init_save' name="init_save" target="_self">
                    {% csrf_token %}
                    <h4>توقيت دفع اخر زكاة مال/توقيت بلوغ النصاب</h4>
                    <input type="month" required name="init_save_date" value={{start_date}}>
                    <h4>اجمالي المدخرات الان</h4>
                    <table>
                        <thead>
                            <th>جنيه مصري</th>
                            <th>جرام عيار 18</th>
                            <th>جرام عيار 21</th>
                            <th>جرام عيار 24</th>
                        </thead>
                        <tr>
                            <td><input type="number" name="init_save_le" value={{total_saving}}></td>
                            <td><input type="number" name="init_save_18" value="18"></td>
                            <td><input type="number" name="init_save_21" value="21"></td>
                            <td><input type="number" name="init_save_24" value="24"></td>
                        </tr>
                    </table>
                </form>
                <form method="post" action="{%url 'signup'%}" target="_self" autocomplete="off" id='sign_up' name="sign_up">
                {% csrf_token %}
                <input type="text" placeholder="الاسم الاول" required name="fname">
                <input type="text" placeholder="اسم العائلة" required name="lname">
                <input type="text" placeholder="اسم المستخدم" required name="username"><br>
                <input type="email" placeholder="البريد الالكتروني" required name="email"><br>
                <input type="password" placeholder="كلمة المرور" required name="password"><br>
                <input type="number" hidden name="signup_save_le" value={{total_saving}}>
                <input type="month" hidden name="init_save_date" value={{start_date}}>
            </form>
            </section>
            <section id="step2">
                <p><span>ثانيا: </span>اعرف مقدار زكاتك المستحقة</p>
                <table>
                    <thead>
                        <th>تاريخ الاستحقاق</th>
                        <th>قيمة الزكاة المستحقة</th>
                    </thead>
                    <tr>
                        <td>{{date_cell}}</td>
                        <td>{{zakah_cell}}</td>
                    </tr>
                </table>
                <input type="submit" form="init_save" value="احسب زكاتي">
            </section>
            <section id="step3">
                <div>
                    <input type="submit" form="sign_up" value="انشاء حساب">
                </div>

            </section>
        </main>
    </body>
</html>