{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="موقع لحساب اوقات قيمة زكاة المال و التوقيت المستحق فيه دفعها">
        <title>موقع زكاتي-الصفحة الرئيسية</title>
	    <!--<link rel="stylesheet" href="../static/zakah1/css/main.css"/>-->
        <link rel="stylesheet" href="{%static 'zakah1/css/main.css'%}"/>
    </head>
    <body>
        <section id="top">
            <div>
                <h3>مرحبا بك {{full_name}}</h3>
                <form method="post" action="{%url 'signout'%}" autocomplete="off" name="signout" target="_self">
                    {% csrf_token %}
                    <input type="submit" value="تسجيل الخروج">
                </form>
            </div>
            <article>
                <h1>احسب زكاة مالك بدقة و سهولة</h1>
                <p id="msg_area">{{mess}}</p>
            </article>

        </section>
        <main>
            <section id="step1">
                <div style="height:50%">
                <p><span>اولا: </span>دخل بياناتك</p>
                <form  method="post" action="{%url 'updatedb'%}" autocomplete="off" id="month_save" name="month_save" target="_self">
                    {% csrf_token %}
                    <h3>تحديث شهري لاجمالي المدخرات</h3>
                    <h4>اختار الشهر</h4>
                    <input name="month_save_date" required type="month" >
                    <h4>اجمالي المدخرات</h4>
                    <table>
                        <thead>
                            <th>جنيه مصري</th>
                            <th>جرام عيار 18</th>
                            <th>جرام عيار 21</th>
                            <th>جرام عيار 24</th>
                        </thead>
                        <tr>
                            <td><input name="month_save_le" type="number" required placeholder="" ></td>
                            <td><input name="month_save_18" type="number" placeholder="غير فعال" disabled></td>
                            <td><input name="month_save_21" type="number" placeholder="غير فعال" disabled></td>
                            <td><input name="month_save_24" type="number" placeholder="غير فعال" disabled></td>
                        </tr>
                    </table>
                </form>
                </div>
                <div style="height:50%">
                <table>
                    <thead>
                        <th>التاريخ</th><th>اجمالي المدخرات</th>
                    </thead>
                    <tbody>
                        {%for i in saving_history%}
                        <tr>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                </div>
            </section>
            <section id="step2">
                <p><span>ثانيا: </span>اعرف مقدار زكاتك المستحقة</p>
                <div id="tb">
                <table>
                    <thead>
                        <th>المبلغ المستحق بالجنيه</th>
                        <th>تاريخ الاستحقاق</th>
                        <th>هل تم دفع الزكاة</th>
                    </thead>
                    <tbody>
                        <form method="post">
                            {%for i in required_zakah%}
                            <tr>
                                <td>{{i.zakah}}</td>
                                <td>{{i.date}}</td>
                                <td><ul><li><input type="radio" name={{i.date}}><label>نعم</label></li>
                                <li><input type="radio" name={{i.date}}><label>ليس بعد</label></li></ul></td>
                            </tr>
                            {%endfor%}
                        </form>
                    </tbody>
                </table>
                </div>
            </section>
            <section id="step3">
                <div>
                    <input type="submit" form="month_save" value="احفظ بياناتي">
                </div>

            </section>
        </main>
    </body>
</html>