*
{
margin:0;
box-sizing: border-box;
}
header, footer
{
background: rgba(197,83,58,1);
width:100%;
padding:10px;
font: 40px sans-serif;
font-style:italic;
text-shadow: 2px 2px 10px yellow;
text-align:center;
color: blue;
position:absolute;
}
nav
{
background:rgba(200,200,200,1);
}
nav ul li
{
display: inline-block;
style: none;
width: 20%;
box-sizing: border-box;
border: 2px solid red;
border-radius:10px;
text-align: center;
margin-left:1%;
align-items:stretch;
font-size: 30px;
}
nav ul
{
box-sizing: border-box;
text-direction: rtl;
padding:0
align-items: center;
display:flex;
flex-direction:row-reverse;
}
section
{
display:flex;
flex-direction:row-reverse;
}
div
{
border:3px solid brown;
background:yellow;
width:30%;
}
iframe
{
width:100%;
}
footer
{
clear:both;
width:100%;
}

