{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="موقع لحساب اوقات قيمة زكاة المال و التوقيت المستحق فيه دفعها"/>
        <title>موقع زكاتي-تسجيل الدخول </title>
	    <link rel="icon" href="favicon.ico" />
        <link rel="stylesheet" href="sign in.css"/>
        <link rel="stylesheet" href="{%static 'zakah1/css/sign in.css'%}"/>
    </head>
    <body>
        <header>
            {وَمَا أَنْفَقْتُمْ مِنْ شَيْءٍ فَهُوَ يُخْلِفُهُ وَهُوَ خَيْرُ الرَّازِقِينَ}
        </header>
        <section align="center">
            <form method="post" action="#" autocomplete="off" name="signin" target="_self">
                <input type="text" placeholder="اسم المستخدم" name="username"><br>
                <input type="password" placeholder="كلمة المرور" name="password"><br>
                <input type="submit" value="تسجيل الدخول">
            </form>
        </section>
        <footer>برجاء الدعاء لصاحب الموقع</footer>
    </html>